.card {
  width: 305px;
  height: 300px;
  background: linear-gradient(-45deg, #434343, #484848);

  &.metric {
    @extend %tile-image;
    background-image: url(~images/metric-icon.png);
  }

  &.weather {
    @extend %tile-image;
    background-image: url(~images/weather-icon.png);
  }

  &__tile-graph {
    height: 100%;
  }
}

.card-header {
  text-align: center;
}

%tile-image {
  background-position: right 10px bottom 8px;
  background-size: 48px;
  background-repeat: no-repeat;
}

.MuiCard-root {
  display: flex;
  flex-direction: column;
}

.MuiCardActions-root {
  margin-top: auto;
}
