.App {
  height: 100%;
}

.green {
  color: lawngreen;
}

.amber {
  color: yellow;
}

.red {
  color: tomato;
}

.light-green {
  color: lightgreen;
}

.blue {
  color: dodgerblue;
}

.light-blue {
  color: lightblue;
}
